.dataTableHeight{
    height: 520px;
}

/* .myclass {
    overflow-y: scroll; 
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.myclass::-webkit-scrollbar {
    display: none; 
}

.dataTables_scrollBody
{
 overflow-x:hidden !important;
 overflow-y:auto !important;
} */