.combobox_container{
    width: 100% !important;
    border-radius: 3%;
    height: 200px;
    box-shadow: 10px 10px 5px rgb(90, 90, 90) !important;
    transition: 0.5s;
}
.combobox_container> .object_description{
    display: none;
}
.combobox_container:hover> .object_description{
    font-size: larger;
    display:block;
}
.text_heading{
    background-color:rgb(44, 44, 44) !important  ;
    font-size:xxx-large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.combobox_container:hover{
    width: 120% !important;
    border-radius: 3%;
    box-shadow: 20px 13px 5px rgb(158, 226, 235) !important;
    height: 270px;
}
img{
    object-fit: contain;
    height: 120px;
    transition: 0.5s;
    position: relative;
    transform-style: preserve-3d;
}
.combobox_container:hover>img{
    z-index: 30;
    background: transparent;
    mix-blend-mode: darken;
    transform-origin: bottom !important;
    transform:scale(1.5) rotateY(360deg)  !important;
    background-blend-mode:color-burn !important;
}
.combobox_container:hover> .object_label{
opacity: 0;
}
.bottomfooter{
    z-index: -1;
}